*{
	margin: 0;
	padding: 0;
	font-family: Copperplate Gothic;
}

body{
	background-image: url(../image/background1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}

.content{
	width: 70%;
	padding: 2% 2%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}


div .image{
	border-top-left-radius: 25px;
	background-image: linear-gradient(rgba(4,9,30,0.7), 
					  rgba(4,9,30,0.7));
	color: #fff;
	padding: 150px 20px;
	text-align: center;
	display: block;

}

.col h2{
	text-align: center;
	font-size: 30px;
	font-weight: 600;
}

.col p{
	margin-top: 10%;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
}

div .color{
	background-color: white;
	border-bottom-right-radius: 25px;
	padding: 50px 50px;
}

.color img{
	border-radius: 100%;
	width: 25%;
	
}


.username input[type = "username"]{
	padding-left: 40px;
}

.username{
	position: relative;
	padding-top: 10px;
}

.username .icon1{
	position: absolute;
	left: 0;
	top: 42px;
	font-size: 20px;
	padding: 9px 15px;
	color: #aaa;
	transition: .3s;
}

.username input[type = "username"]:focus + .icon1{
	color: dodgerBlue;
}

.email input[type = "email"]{
	padding-left: 40px;
}

.email{
	position: relative;
	padding-top: 10px;
}

.email .icon2{
	position: absolute;
	left: 85%;	
	padding: 9px 15px;
	top: 42px;
	font-size: 20px;
	color: #aaa;
	cursor: pointer;
	transition: .45s;
}

.email .icon2:hover{
	color: #3492eb;
}

.email input[type = "email"]:focus + .icon1{
	color: dodgerBlue;
}

.form-group input[type = "submit"]{
	font-size: 20px;
	border-radius: 20px;
	background-color: #34eb5f;
	color: #fff;
	transition: .45s;
}


.form-group input[type = "submit"]:hover{
	background-color: #5dcce8;
}

.form-group ul li{
	list-style: none;

}

.form-group ul li a{
	text-decoration: none;
	font-size: 16px;
}

.form-group ul li a:hover{
	color: red;

}

@media (max-width: 966px){

div .image{
	display: none;
}

div .color{
padding: 20px 50px;
border-radius: 20px;
}

}
	