  *{
  margin: 0;
  padding: 0;
  font-family: Copperplate Gothic;
}

.header{
  width: 100%
  min-height:100vh;
  margin-top: -20px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #E2E2E2;
}

/*Navigation CSS*/

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}
.logo{
  width: 70px;
  margin:30px 0;
  padding-left: 2%;
  border-radius: 25%;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

nav ul li a:hover{
  color: #93E1FE;
  text-decoration: none;
}
.color{
  overflow: hidden;
  background-color: #AFD0FA;
  padding: 10px 10px;
  margin-top: -20px;
}

/*row*/
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.content{
  width: 100%;
  background-color: white;
  padding-bottom: ;
  padding-left: 3%;
  padding-right: 2%;

}

.terms{
  border-bottom: dotted lightblue;
  margin-left: 60%;
  width: 100%;

}

.terms a{
  margin-right: 20px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  padding: 5% 0;
}

.terms a:hover{
  color: #93E1FE;
}

.text{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}

.text span.name{
  border-bottom: dotted lightblue;
  margin-left: 60%;
  font-size: 20px;
}

.text span.profession{
  margin-left: 60%;
  font-size: 16px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #AFD0FA;
  color: white;
  text-align: center;
}

.footer img{
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
   }

.form a{
  text-decoration: none;
}

.form{
 
 padding-left: 5%;
 padding-right: 5%;
 width: 100%;
 margin-top: -6%;
}

.form button{
  width: 100%;
  margin-top: 10px;
  height: 40px;
  color: #FFF;
  background: #96BBF3;
  border-radius: 10px;
  border:none;
  font-size: 20px;
  cursor: pointer;
}

.form button:hover{
  background: lightgreen;
}

.info1{
  width: 100%;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  display: none;
}




@media only screen and (max-width:700px){

  nav ul{
    width: 100%;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }

  nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .menu-icon{
    display: block;
  }

  .info a{
    display: none;
  }

  .terms a{

    display: none;
  }

  .text{
    display: none;
  }

  .info1{
    display: block;
  }

  .border{
    display: none;
  }


} 


